<div class="dashboard">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-mini-fab><mat-icon>account_circle</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
      <div class="logo" [routerLink]="['/app']">
        <img src="/assets/images/beJacked-new-svg.svg" />
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/app']"
          ><mat-icon>home</mat-icon>Home</a
        >
        <a mat-list-item [routerLink]="['/app/programs']"
          ><mat-icon>article</mat-icon>Programs</a
        >
        <a mat-list-item [routerLink]="['/app/logs']"
          ><mat-icon>trending_up</mat-icon>Logs</a
        >
        <mat-divider></mat-divider>
        <!-- <span >Admin panel</span> -->
        <a
          mat-list-item
          *ngIf="hasRole('admin')"
          [routerLink]="['/app/admin/users']"
          ><mat-icon>group</mat-icon>Manage users</a
        >
        <a
          mat-list-item
          *ngIf="hasRole('admin')"
          [routerLink]="['/app/admin/programs']"
          ><mat-icon>edit_calendar</mat-icon>Manage programs</a
        >
        <a
          mat-list-item
          *ngIf="hasRole('admin')"
          [routerLink]="['/app/admin/exercises']"
          ><mat-icon>fitness_center</mat-icon>Manage exercises</a
        >
        <mat-divider></mat-divider>

        <a mat-list-item (click)="logout()"
          ><mat-icon>logout</mat-icon>Logout</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="router-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <df-messenger
    intent="WELCOME"
    chat-title="BeJackedChatBot"
    agent-id="b1704487-ab85-4059-9184-cba27bed7e86"
    language-code="en"
    chat-icon="https://raw.githubusercontent.com/wrobel2131/BeJacked/f35aaa3e0bd1553dac7606c3eaff6248f75e0417/beJacked-angular/src/assets/images/B-v3-svg.svg"
  ></df-messenger>
</div>
