<div class="content">
  <h2 mat-dialog-title>Create new plan</h2>

  <mat-stepper class="stepper" orientation="vertical" #stepper>
    <mat-step
      class="step"
      [stepControl]="planDetailsForm"
      errorMessage="Fill all required fields"
    >
      <p>
        Enter the name of your plan. If you have specific guidelines, tips or
        important information about your plan, enter them in the description
        below.
      </p>
      <form
        class="form form-data"
        id="detailsForm"
        [formGroup]="planDetailsForm"
      >
        <ng-template matStepLabel>Fill about your new program</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Name of the plan</span>
          </mat-label>
          <input
            id="plan-name"
            class="form-input"
            matInput
            formControlName="name"
            type="text"
          />
          <mat-error>Name of the plan is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Description</span>
          </mat-label>
          <textarea
            id="plan-description"
            rows="5"
            cols="40"
            class="form-input"
            maxlength="256"
            matInput
            formControlName="description"
            #description
            type="text"
          ></textarea>
          <mat-hint align="start">Not required</mat-hint>
          <mat-hint align="end">{{ description.value.length }} / 256</mat-hint>
        </mat-form-field>
      </form>

      <div class="buttons single">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step
      class="step"
      [stepControl]="planTypeForm"
      errorMessage="Choose plan type"
    >
      <ng-template matStepLabel>Choose type of your plan</ng-template>
      <p>
        Select the type of your training plan. You can use ready-made templates
        of training plans (JM Brakley or Jim Wendler 5/3/1) or create your dream
        plan from scratch.
      </p>
      <form class="form form-data" id="typeForm" [formGroup]="planTypeForm">
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Type of training program</span>
          </mat-label>
          <mat-select
            name="plan-type"
            id="plan-type"
            class="form-input"
            matInput
            formControlName="type"
            (selectionChange)="stepper.next()"
          >
            <mat-option *ngFor="let type of planTypes" [value]="type.value">{{
              type.label
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div class="buttons single">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step
      class="step"
      [stepControl]="planWorkoutsForm"
      errorMessage="Add workout"
    >
      <ng-template matStepLabel>Add workouts to your plan</ng-template>
      <p>
        Add workouts to your plan. For example: if you train on Mondays,
        Tuesdays, Thursdays and Fridays, add 4 workouts.
      </p>
      <div class="buttons singleCenter">
        <button mat-button extended (click)="addWorkout()">
          <mat-icon>add</mat-icon> Add workout
        </button>
      </div>

      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let workout of workouts.controls; index as i"
          #panel
          [formGroup]="getWorkoutByIndex(i)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ getWorkoutByIndex(i).controls["name"].value }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>
              <span>Name of the workout</span>
            </mat-label>
            <input
              class="form-input"
              matInput
              type="text"
              formControlName="name"
            />
            <mat-error>Workout name is required</mat-error>
          </mat-form-field>

          <mat-tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            class="example-tree"
          >
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <mat-checkbox
                [value]="node.name"
                (change)="addExerciseToWorkout($event, i, node.name)"
              >
              </mat-checkbox>

              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{ node.name }}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="exercise-info">
                    <p>Description: {{ node.description }}</p>
                    <p>Engaged muslces: {{ node.muscles }}</p>
                    <p>Category: {{ node.exerciseCategory.name }}</p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <div class="mat-tree-node">
                <button
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.exerciseCategory"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      treeControl.isExpanded(node)
                        ? "expand_more"
                        : "chevron_right"
                    }}
                  </mat-icon>
                </button>
                {{ node.exerciseCategory }}
              </div>

              <div
                [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                role="group"
              >
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>

          <mat-action-row>
            <button mat-button extended (click)="removeWorkout(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="buttons single">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step class="step">
      <ng-template matStepLabel>Submit</ng-template>
      <p>Your plan is ready to submit.</p>

      <button mat-button (click)="submit()" [disabled]="!isSubmit()">
        Submit
      </button>
    </mat-step>
  </mat-stepper>
</div>
