::ng-deep * {
  font-weight: 400;
}

mat-grid-tile {
  background: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.25s;
}
mat-grid-tile:hover {
  transform: scale(1.02);
}

h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.mat-table {
  width: 100%;
  margin: 0;
}

.mat-header-row {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::ng-deep.mat-tab-label-container {
  margin-bottom: 10px !important;
}

::ng-deep.mat-elevation-z8.table-container.ng-star-inserted {
  max-height: 500px !important;
  overflow-y: auto !important;
}

.mat-column-name {
  height: 50px;
}
