mat-grid-tile {
  background: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.25s;
}
mat-grid-tile:hover {
  transform: scale(1.02);
}

h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
