<div class="main-container">
  <section id="logo">
    <div class="logo-container">
      <img src="assets/images/beJacked-new-svg.svg" alt="beJacked logo" />
      <p class="logo-title">Start tracking your progress</p>
    </div>
  </section>
  <section id="about">
    <p>about section</p>
  </section>
  <section id="features">
    <p>features section</p>
  </section>
  <section id="join">
    <p>join section</p>
  </section>
  <section id="contact">
    <p>contact section</p>
  </section>
</div>
