<div class="content">
  <div class="welcome">
    <p class="welcome__text">
      Welcome to <span class="text--bold">BeJacked</span> ! We are a training
      app designed to help you achieve your fitness goals. Our platform allows
      you to create and save your personalized training plans, and then monitor
      your progress as you work towards your targets. Whether you're a beginner
      or a seasoned athlete, we provide you with the tools you need to succeed.
      Our mission is to make fitness accessible and enjoyable for everyone, and
      we believe that with the right training plan and mindset, anyone can reach
      their full potential. So let's get started on your journey to a fitter,
      healthier you with BeJacked!
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="newsList">
    <h3>What's new</h3>

    <div class="news">
      <span class="news__title">Graphs</span>
      <br />
      <span class="news__content">
        added the ability to view data on the chart in three options: the
        highest weight, the highest estimated maximum weight per 1 repetition
        and the largest volume
      </span>
    </div>
    <div class="news">
      <span class="news__title">ChatBot</span>
      <br />
      <span class="news__content">
        Added a chatbot that analyzes user messages and, depending on their
        context, answers specific questions
      </span>
    </div>
  </div>
</div>
