h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */

  border-radius: 15px;
}

button {
  font-weight: 300;
  /* color: white;
  background-color: black;
  border-radius: 15px; */
}

/* ::ng-deep.mat-icon-button {
  background-color: transparent !important;
  color: black !important;
} */
::ng-deep.mat-dialog-container {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

::ng-deep.mat-button-disabled {
  color: rgba(255, 255, 255, 0.4) !important;
  background-color: rgba(1, 1, 1, 0.2) !important;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black;
  background-color: transparent !important;
}

/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: black !important;
}

.mat-expansion-panel {
  background-color: transparent;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
  font-weight: 500;
}

/* .mat-expansion-panel-body {
  display: flex;
  justify-content: center;
} */

.exercise-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-content .mat-tab-group {
  width: 90%;
}

::ng-deep.mat-dialog-container::-webkit-scrollbar {
  width: 5px;
}

::ng-deep.mat-dialog-container::-webkit-scrollbar-track {
  background-color: transparent;
}

::ng-deep.mat-dialog-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::ng-deep.mat-dialog-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* mat-tab {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid;
} */

::ng-deep.mat-tab-body-wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab {
  width: calc(100% - 40px);
  height: 800px;
  padding: 20px;
  background-color: white;
}

.results-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-mid {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-text {
  font-size: 15px;
  display: block;
}

.chart-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

#logs-chart {
  display: block;
}

.chart {
  height: 100%;
  flex: 1.5;
}

.chart-options {
  flex: 0.8;
  height: 100%;
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  padding: 20px;
}

button {
  margin: 10px;
  background-color: black;
  color: white;
  width: 70%;
}

.results-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.results {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.left-panel {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  height: 400px;
}

.results-form {
  display: flex;
  flex-direction: column;
}

.tempo-controls {
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px 0;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* button.mat-focus-indicator.mat-button.mat-button-base {
  width: 20px !important;
  align-self: flex-end;
} */

.right-panel {
  flex: 1.2;
  display: flex;

  flex-direction: column;
  /* align-items: flex-start; */
  height: 400px;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sets-title {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 0 5px;
  display: block;
  z-index: 10;
  width: 100%;
  height: 70px;
}

.logs-content {
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.log {
  width: 100%;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  display: block;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}
.mat-form-field {
  /* text-align: center !important; */
  margin: 5px 0 !important;
  width: 90px !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep.mat-form-field-underline {
  background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: black !important;
}

.mat-card {
  width: 95%;
  margin: 5px 0;
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
}

.set-text {
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
}
