<div class="content">
  <h2 mat-dialog-title>Create new program</h2>

  <mat-stepper class="stepper" orientation="vertical" #stepper>
    <mat-step
      class="step"
      [stepControl]="programDetailsForm"
      errorMessage="Fill all required fields"
    >
      <p>
        Enter the name of your program. If you have specific guidelines, tips or
        important information about your program, enter them in the description
        below.
      </p>
      <form
        class="form form-data"
        id="detailsForm"
        [formGroup]="programDetailsForm"
      >
        <ng-template matStepLabel>Fill about your new program</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Name of the program</span>
          </mat-label>
          <input
            id="program-name"
            class="form-input"
            matInput
            formControlName="name"
            type="text"
          />
          <mat-error>Name of the program is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Description</span>
          </mat-label>
          <textarea
            id="program-description"
            rows="5"
            cols="40"
            class="form-input"
            maxlength="256"
            matInput
            formControlName="description"
            #description
            type="text"
          ></textarea>
          <mat-hint align="start">Not required</mat-hint>
          <mat-hint align="end">{{ description.value.length }} / 256</mat-hint>
        </mat-form-field>
      </form>

      <div class="buttons single">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step
      class="step"
      [stepControl]="programTypeForm"
      errorMessage="Choose program type"
    >
      <ng-template matStepLabel>Choose type of your program</ng-template>
      <p>
        Select the type of your training program. You can use ready-made
        templates of training programs (JM Brakley or Jim Wendler 5/3/1) or
        create your dream program from scratch.
      </p>
      <form class="form form-data" id="typeForm" [formGroup]="programTypeForm">
        <mat-form-field appearance="fill">
          <mat-label>
            <span>Type of training program</span>
          </mat-label>
          <mat-select
            name="program-type"
            id="program-type"
            class="form-input"
            matInput
            formControlName="type"
            (selectionChange)="stepper.next()"
          >
            <mat-option *ngFor="let type of programTypes" [value]="type.name">{{
              type.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div class="buttons">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step
      class="step"
      [stepControl]="programWorkoutsForm"
      errorMessage="Add workout"
    >
      <ng-template matStepLabel>Add workouts to your program</ng-template>
      <p>
        Add workouts to your program. For example: if you train on Mondays,
        Tuesdays, Thursdays and Fridays, add 4 workouts.
      </p>
      <div class="buttons singleCenter">
        <button mat-button extended (click)="addWorkout()">
          <mat-icon>add</mat-icon> Add workout
        </button>
      </div>

      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let workout of workouts.controls; index as i"
          #panel
          [formGroup]="getWorkoutByIndex(i)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ getWorkoutByIndex(i).controls["name"].value }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>
              <span>Name of the workout</span>
            </mat-label>
            <input
              class="form-input"
              matInput
              type="text"
              formControlName="name"
            />
            <mat-error>Workout name is required</mat-error>
          </mat-form-field>
          <mat-divider></mat-divider>

          <mat-form-field>
            <mat-label>Filter by exercise name</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event, i)"
              placeholder="Ex. Bench Press"
              #input
            />
          </mat-form-field>

          <div class="mat-elevation-z8 table-container">
            <table
              mat-table
              [dataSource]="dataSources[i]"
              matSort
              multiTemplateDataRows
            >
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="
                      $event ? selection.toggle(row) : null;
                      addRemoveExerciseToWorkout($event, i, row.name)
                    "
                    [checked]="selection.isSelected(row)"
                  >
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by number"
                >
                  No.
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by name"
                >
                  Name
                </th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="exerciseCategory">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by exerciseCategory"
                >
                  Category
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.exerciseCategory.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                  &nbsp;
                  <!-- Action -->
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    aria-label="expand row"
                    (click)="
                      expandedElement =
                        expandedElement === element ? null : element;
                      $event.stopPropagation()
                    "
                  >
                    <mat-icon *ngIf="expandedElement !== element"
                      >keyboard_arrow_down</mat-icon
                    >
                    <mat-icon *ngIf="expandedElement === element"
                      >keyboard_arrow_up</mat-icon
                    >
                  </button>
                </td>
              </ng-container>
              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td
                  mat-cell
                  *matCellDef="let element"
                  [attr.colspan]="columnsToDisplayWithExpand.length"
                >
                  <div
                    class="example-element-detail"
                    [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    "
                  >
                    <div class="example-element-description">
                      <span>Description</span><br />
                      {{ element.description }}
                      <br />
                      <span>Engaged muscles</span><br />
                      {{ element.muscles }}
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="columnsToDisplayWithExpand"
              ></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: columnsToDisplayWithExpand"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="
                  expandedElement = expandedElement === element ? null : element
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['expandedDetail']"
                class="example-detail-row"
              ></tr>

              <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
            <mat-paginator
              [length]="dataSources[i]?.data?.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
            >
            </mat-paginator>
          </div>

          <mat-action-row>
            <button mat-button extended (click)="removeWorkout(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="buttons">
        <button mat-button matStepperPrevious type="button">Back</button>

        <button
          mat-button
          matStepperNext
          type="button"
          (click)="buildSubmitObject()"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step class="step">
      <ng-template matStepLabel>Submit</ng-template>

      <mat-divider></mat-divider>
      <mat-card *ngIf="isProgramReady()">
        <mat-card-header>
          <mat-card-title
            ><h2>
              {{ program!.name }}
            </h2></mat-card-title
          >
          <mat-card-subtitle
            ><h4>
              {{ program!.description }}
            </h4></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <div class="workouts">
            <mat-card *ngFor="let workout of program!.workouts">
              <mat-card-header>
                <mat-card-title
                  ><h2>
                    {{ workout.name }}
                  </h2></mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <span
                  class="exercise-table"
                  *ngFor="let exercise of workout.exercises; index as i"
                >
                  <strong>{{ i + 1 }}.</strong> {{ exercise }}
                </span>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- <table *ngIf="isProgramReady()" class="table">
        <mat-divider></mat-divider>
        <caption *ngIf="isSubmit()">
          Your program is ready to submit
        </caption>
        <caption *ngIf="!isSubmit()">
          Your program IS NOT READY to submit :(
        </caption>

        <thead>
          <tr>
            <th *ngFor="let workout of program!.workouts">
              {{ workout.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let workout of program!.workouts">
              <span
                class="exercise-table"
                *ngFor="let exercise of workout.exercises; index as i"
              >
                <strong>{{ i + 1 }}.</strong> {{ exercise }}
              </span>
            </td>
          </tr>
        </tbody>
      </table> -->
      <!-- <mat-table *ngIf="isprogramReady()" [dataSource]="dataSourceTable">
        <ng-container
          *ngFor="let workout of workoutsTable"
          [matColumnDef]="workout.name"
        >
          <mat-header-cell *matHeaderCellDef>
            {{ workout.name }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element[workout.name] }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns()"></mat-row>
      </mat-table> -->

      <!-- <table
        mat-table
        [dataSource]="program.workouts"
        *ngIf="isprogramReady()"
        class="mat-elevation-z8 demo-table"
      >
        <ng-container
          *ngFor="let workout of program.workouts"
          [matColumnDef]="workout.name"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ workout.name }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ workout.exercises }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
      </table> -->

      <div class="buttons">
        <button
          mat-button
          matStepperPrevious
          type="button"
          (click)="deleteSubmitObject()"
        >
          Back
        </button>
        <button mat-button (click)="submit()" [disabled]="!isSubmit()">
          Submit
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
